h1 {
    text-align: center
;
}
#my-pic {
    height: 300px
;
}
.email {
    font-size: 2em;
}
h1 {
    text-align: center
;
}
.icon {
    height: 1em;
}
.haskell-logo {
    height: 50px;
}
nav.paginator {
    text-align: center;
}
