h1 {
    text-align: center
;
}
.icon {
    height: 50px;
    vertical-align: middle;
}
.haskell-logo {
    height: 50px;
}
nav.paginator {
    text-align: center;
}
textarea.markdown {
    height: 40em;
    font-family: 'Courier';
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    white-space: pre-wrap;
}
textarea.preview.markdown {
    height: 20em;
}
.panel-title {
    font-size: 3em;
}
.info {
    color: #AA9;
}
small {
    font-size: 12pt;
}
iframe {
    margin: 10px;
}
