{% extends "base.html" %}

{% block contents %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      About Me
    </h2>
  </div>
  <div class="panel-body bio">
    <img class="img-responsive me pull-right" src="/static/img/me_and_honey.png" alt="Me and my fiance standing over Glenn Canyon Gam">
    <p>
      I am a student at the University of New Mexico working on my Computer
      Science degree. I love to create new things and I love to teach.
    </p>
    <p>
      I have 6 years experience in Computer Science, including 4 years
      participating in the New Mexico Supercomputing Challenge. In my last year
      participating in the Challenge, I won first place for my work on a program
      which identifies Alzheimer's plaque in transgenic mouse brains.
    </p>
  </div>
</div>


{% end %}
